
<div style="text-align: center;">
  <button mat-raised-button class="add" color="primary" (click)="abrirForm()">Agregar</button>
</div>

<div class="overlay" id="overlay">
  <div class="popup" id="popup">
    <h2>Nuevo Usuario</h2>
    <form>
      <input type="text" id="firstName" placeholder="Nombres" />
      <input type="text" id="lastName" placeholder="Apellidos"/>
      <input type="text" id="email" placeholder="Correo"  />
        <div class="mb-3">
            <label for="formFile" class="form-label">Select photo</label>
            <input (change)="photoSelect($event)"  class="form-control" type="file" id="formFile">
        </div>
    </form>
    <button mat-raised-button class="cancelar" color="warn" (click)="cerrarForm()">Cancelar</button>
    <button mat-raised-button class="registrar" color="primary" (click)="create()">Registrar</button>
  </div>

</div> 
